@use "../../styles/shared" as shared

.aboutContainer
    +shared.flex-column
    padding: 3rem
    h2
        color: blue
    p
        line-height: 16px
        font-style: italic

@media (max-width: 500px)
  .aboutContainer
    padding: 0.5rem


