.aboutContainer
    display: flex
    flex-direction: column
    h2
        color: blue
    p
        line-height: 16px
        font-style: italic

    // h2::before 
    //     content: " "
    //     position: absolute  
    //     width: 180px
    //     height: 180px
    //     border-radius: 50%
    //     background-color: rgba(26, 1, 255, 0.8)
    //     top: 620px
    //     right: 0px
    
    // h2::after
    //     content: " "
    //     position: absolute  
    //     width: 100px
    //     height: 100px
    //     border-radius: 50%
    //     background-color: rgba(26, 1, 255, 0.8)
    //     top: 700px
    //     right: 100px
    

