@use "../../styles/shared" as shared

.homeTitle
    +shared.flex-center
    flex-direction: column
    min-height: 60vh
    font-size: 2rem
    
  

.highlightText
    color: shared.$color-blue
    font-style: italic