@use "../../styles/shared" as shared

.loginContainer
    display: flex
    justify-content: flex-end
    padding: 0.5rem 2rem
    // border-bottom: 1px solid shared.$color-black
    

.headerContainer
    +shared.flex-between
    align-items: center
    padding: 1rem
    margin-bottom: 2rem
    border-bottom: 1px solid shared.$color-black
    padding-top: 0rem

.logo
    text-decoration: none
    list-style-type: none
    color: inherit
    margin: 0
    font-size: 3rem
        

.navWrapper
    +shared.flex-around
    list-style-type: none
    gap: 30px
    padding: 1rem
    font-size: 1.4rem

    li
        a
            text-decoration: none

.navLink
    text-decoration: none
    color: inherit

.active
    color: shared.$color-blue
            



    