@use "../../styles/shared" as shared

.footerContainer
    +shared.flex-column
    justify-content: flex-start
    border-top: 1px solid black
    overflow: hidden
    position: relative
    
    &::before
        content: ""
        position: absolute
        width: 130px
        height: 130px
        border-radius: 50%
        background-color: rgba(26, 1, 255, 0.8)
        bottom: -60px
        right: 0px
        z-index: -1

    &::after
        content: ""
        position: absolute
        width: 120px
        height: 120px
        border-radius: 50%
        background-color: rgba(26, 1, 255, 0.8)
        bottom: 60px
        right: 90px
        z-index: -1

    a
        text-decoration: none
        padding-bottom: 1rem
        font-size: 0.8rem

.footerTitle
    font-size: 1rem
    


