@use "../../styles/shared" as shared

.errorContainer
    +shared.flex-column
    align-items: center
    margin-top: 3rem
    p
        font-size: 2rem
        margin-top: 0px
        
    a
        text-decoration: none
        border: 1px solid black
        border-radius: 1rem
        padding: 1rem
        color: blue

.errorCode
    font-weight: bold
